<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>57300116160-jm2dcnr8jesavb6fetf9bd9q39i48ep6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57300116160-jm2dcnr8jesavb6fetf9bd9q39i48ep6</string>
	<key>API_KEY</key>
	<string>AIzaSyCDZ9IhJz26IRx7VJkSXfguADrzHOJG7Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>57300116160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Swipe.Nouvo</string>
	<key>PROJECT_ID</key>
	<string>nouvo-android-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nouvo-android-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57300116160:ios:06e2c06fc6ef341b</string>
	<key>DATABASE_URL</key>
	<string>https://nouvo-android-app.firebaseio.com</string>
</dict>
</plist>